---
import Layout from "@/layouts/Layout.astro";
import Badge from "@/components/Badge.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import Experience from "@/components/Experience.astro";
import GitHubIcon from "@/components/icons/GitHub.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import SocialPill from "@/components/SocialPill.astro";
import Donations from "@/components/Donations.astro";
import Paypal from "@/components/icons/Paypal.astro";
---

<Layout title="EasyRecord" description="">
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        EasyRecord<a
          id="startButton"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center hover:scale-105 transition"
        >
          <Badge>START</Badge>
        </a>
      </h1>
      <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
      >
        <span>Free Screen</span><span
          class="text-yellow-800 dark:text-yellow-200"
        >
          Recording Anytime,</span
        >
        <span class="text-sky-800 dark:text-red-200"> Anywhere</span>.
      </h2>

      <h2
        class="text-xl lg:text-xl text-balance max-w-[300px] text-black dark:text-white"
      >
        <span class="text-sky-800 dark:text-sky-400">
          Press start to record</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/josue-brenes/">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/JosueBrenes">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:josuebrenes3005@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          josuebrenes3005@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Briefcase class="size-7" />
        About the website
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="donations">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Paypal class="size-7" />
        Donations
      </h2>
      <Donations />
    </SectionContainer>
  </main>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const startButton = document.getElementById("startButton");

      if (startButton) {
        startButton.addEventListener("click", async () => {
          try {
            // Tu código JavaScript aquí
            const media = await navigator.mediaDevices.getDisplayMedia({
              video: {
                frameRate: { ideal: 30 },
              },
              audio: true,
            });

            const mediarecorder = new MediaRecorder(media, {
              mimeType: "video/webm;codecs=vp8,opus",
            });

            mediarecorder.start();

            const [video] = media.getVideoTracks();
            video.addEventListener("ended", () => {
              mediarecorder.stop();
            });

            mediarecorder.addEventListener("dataavailable", (e) => {
              const link = document.createElement("a");
              link.href = URL.createObjectURL(e.data);
              link.download = "captura.webm";
              link.click();
            });
          } catch (error) {
            console.error("Error al acceder a la captura de medios:", error);
          }
        });
      }
    });
  </script>
</Layout>
