<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit sociis, orci
      euismod turpis nostra ante lectus donec, feugiat fringilla tortor
      facilisis vitae at bibendum. <strong
        >Nam id suspendisse eros rutrum cum mauris at lobortis,</strong
      >.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit sociis<strong
        >orci euismod turpis nostra ante lectus donec, feugiat fringilla tortor
        facilisis vitae at bibendum.
      </strong>. Nam id suspendisse eros rutrum cum mauris at lobortis,
      facilisis interdum commodo pharetra nec mus mi suscipit hendrerit.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit sociis, <strong
        >rci euismod turpis nostra ante lectus donec, feugiat fringilla tortor
        facilisis vitae at bibendum. <em class="italic"
          >Nam id suspendisse eros rutrum cum mauris at lobortish</em
        >. facilisis interdum commodo pharetra nec mus mi suscipit hendrerit,
        taciti ultricies quam purus sollicitudin fames urna.
      </strong>
    </p>
  </div>

  <!-- PHRASES PROHIBITED IN YOUR PORTFOLIO

<p>
  My dream is to find my first job in the world of programming. A company where I can continue learning. ❌
</p>

<p>
  ❌ Passionate about programming since chekitito. I love computers and creating good, fast web pages with the latest technology.
</p>

<p>
  I work well as a team. I'm always learning new things.
</p>

-------------------------------------

--------------------------------------

<p>
  I am leo! I studied Business Law and, after years of practicing, I moved into the world of Programming. Since then I have enjoyed creating web experiences for users.
</p>

<p>
  Among my successes, I highlight that during my Higher Degree, I helped my classmates learn about TDD. I love testing, I believe in its importance, and I like to share my knowledge about it.
</p>

<p>
  I have experience developing mobile applications, and I have created an initiative called X to mix my two passions: programming and law. Helping society access a fair defense.
</p>

---------------------------------------

<p>My name is Sara, I am 25 years old and I am from Santiago, Chile 🇨🇱. I finished my studies as a Web Developer. I love to focus on the performance part, to offer the best user experience.</p>

<p>
  I collaborate in the organization of the local BeerJS MeetUp where we bring together developers from Santiago to share knowledge and experiences. In 2023 we held a total of 25 talks with more than 2,000 attendees.
</p>

<p>
  In addition to actively participating in the community, I have participated in the Midudev Hackathon, finishing in 3rd place with my project _Chatty_, where using AI you could interact with a PDF. Check it out!
</p>

-->
</section>
