---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Josué Brenes",
    title: "Screen Recording with Astro Framework",
    description:
      "This website was built from the ground up using the Astro framework, allowing users to effortlessly record screen content quickly and easily from anywhere, at any time.",
    link: "#",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
