---
const currentYear = new Date().getFullYear();
---

<footer
  class="rounded-lg shadow m-4 bg-black/5 dark:bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span
      class="text-sm sm:text-center text-yellow-800/90 dark:text-yellow-200/90"
      >© {currentYear}
      <a href="https://github.com/JosueBrenes" class="hover:underline"
        >Josué Brenes</a
      > | Almost All rights reserved
    </span>
  </div>
</footer>
